# Terraform working directory
.terraform/

# Terraform state
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.*

# Variable files
*.tfvars
*.tfvars.json

# Crash logs
crash.log
crash.*.log

# Sensitive local files
*.secret
*.secrets
